<mat-card class="login-card mat-elevation-z4">
  <mat-card-header class="card-header">
    <mat-card-title>Please login to continue</mat-card-title>
  </mat-card-header>
  <form class="form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput autofocus [(ngModel)]="email" name="email" />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="show ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
      />
      <!-- <button
        mat-icon-button
        matSuffix
        (click)="show = !show"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="show"
      >
        <mat-icon>{{ show ? "visibility" : "visibility_off" }}</mat-icon>
      </button> -->
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="login()"
      [disabled]="!email || !password || loggingIn"
    >
      Login
    </button>
    <p class="mat-caption">
      Not a user? Try logging in as email: <u>admin@admin.admin</u>, password:
      <u>admin</u>, and add yourself!
    </p>
  </form>
</mat-card>
