<mat-card class="card">
  <form>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
      <mat-card-subtitle>Set your password and email notifications</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="tab">
        <app-form [objects]="[user]" [rows]="config.user"></app-form>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </mat-card-footer>
  </form>
</mat-card>
