<form *ngIf="!globals.loading">
  <mat-card class="card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Client">
          <div class="tab">
            <app-form [objects]="[client]" [rows]="config.client"></app-form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-footer *ngIf="!loading">
      <button
        mat-raised-button
        class="full-width"
        color="primary"
        (click)="save()"
        [disabled]="saving"
      >
        Save
      </button>
    </mat-card-footer>
  </mat-card>
  <form></form>
</form>
