<div class="container">
  <mat-card>
    <mat-card-header>
      <!-- <mat-card-title>Notices and Announcements - {{ date }}</mat-card-title> -->
      <!-- <mat-card-title>Proof of Concept</mat-card-title> -->
      <!-- <mat-card-subtitle>
        Any important information or changes will be posted here for your convenience
      </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <!-- <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
          <p>{{ message }}</p>
        </mat-list-item>
      </mat-list> -->
      <p class="mat-title card">Proof of Concept</p>
      <p class="mat-subheading-2 card">
        This is a small in house CRM developed for a small family business.
      </p>
      <p class="mat-subheading-2 card">
        This started as a smaller solution to the smaller problem of data being
        recorded by hand and then being scanned as a digital copy within the
        company servers. The initial inspiration, was to provide a digital form
        for employees to easily fill out, removing issues with unrecognizable
        handwriting, inconsistent date formatting, and the lack of a uniform
        representation of data.
      </p>
      <p class="mat-subheading-2 card">
        The first iteration of this project was an Android application which had
        a digital version of the form, that would then convert the data
        retrieved from filling out the form, and saving it onto the original
        Excel template. Some of the many limitations with this original solution
        included: having to transfer the excel files back onto the server at the
        end of the day, users not being comfortable with typing longer sentences
        using a tablet, and needing tablets rather than phones, as the forms
        were too lengthy for a such a small screen.
      </p>
      <p class="mat-subheading-2 card">
        After taking a web development course, I realized I could easily convert
        the Android application into a web application, allowing users to access
        the form on any of their workstations. The move to a web application was
        well received, and features were slowly added over time.
      </p>
      <p class="mat-subheading-2 card">
        Now the current running version has centralized client data, allowing
        employees to create jobs (tickets) for clients as new requests come in,
        as well as invoice the respective clients when the work is finished. The
        invoicing process involves employees selecting what service they are
        charging the client for, and how much that fee will be. Upon saving, a
        pdf is generated following a standard company invoice template, and the
        pdf is emailed to clients on a pre-determined frequency, reminding
        clients of their outstanding invoices.
      </p>
      <p class="mat-title card">Tables</p>
      <p class="mat-subheading-2 card">
        All jobs (tickets) are all represented as a row in tables, allowing
        filtering on all columns, as well as filtering all data available. The
        tables featured across this proof of concept have cells that are
        editable, allowing employees to easily update information related to
        that job. These tables are dynamic, requiring a configuration specifying
        column labels, and the correlating field to retrieve data from. If a
        column requires something more specific than simply grabbing the value
        stored at the indicated field, there is an override function, allowing
        me to pass a function to provide customizations for what this columns
        data should be represented as. Table filtering is handled client side,
        as the sample size of all the tables are expected to be small, not
        exceeding the thousands, as well as the fact that I wanted to provide users the ability to filter dates without having to specify anything like 
      </p>
      <p class="mat-title card">Forms</p>
      <p class="mat-subheading-2 card">
        More permanent data, such as client data, is handled via a dynamic form.
        I created multiple components that are reused within the forms as well
        as the editable cells of the tables. These components include general
        input fields, datepickers, selects, and autocompletes. All forms can
        then be generated with a simple config file.
      </p>
    </mat-card-content>
  </mat-card>
</div>
